<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= grunt.config.get('pkg.description') %>">
    <meta name="keywords" content="<%= grunt.config.get('pkg.keywords') %>">
    <meta name="author" content="<%= grunt.config.get('pkg.author.name') %>">
    <link rel="icon" href="img/favicon.ico">
    <title><%= grunt.config.get('pkg.name') %></title>
    <!-- Bootstrap core CSS -->
    <link href="<%= grunt.config.get('vendorDir') %>/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="<%= grunt.config.get('vendorDir') %>/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="<%= grunt.config.get('vendorDir') %>/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="<%= grunt.config.get('vendorDir') %>/html5shiv.min.js"></script>
    <script src="<%= grunt.config.get('vendorDir') %>/respondmore.min.js"></script>
    <![endif]-->
</head>

<body role="document">